@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
p {
  max-width: 65ch;
}
IMG {
  display: block;
  max-width: 100%;
  height: auto;
}
:root {
  --bg-main: #202020;
  --clr-text-heading: #f4f4f4;
  --clr-text: #d0d0d4;
  --clr-text-dark: #101010;
  --ff: "Montserrat", sans-serif;

  /* test colors */
  --clr-primary-200: 51, 100%, 75%;
  --clr-primary-400: 51, 100%, 55%;
  --clr-secondary-200: 231.1, 100%, 65.4%;
  --clr-secondary-400: 231.1, 100%, 55.4%;

  --txt-small: clamp(.5rem, calc(10px + 1vmin), .75rem );
  --txt-med: clamp(0.73rem, 1.75vw, 1.25rem);
  --txt-med-700: clamp(1rem, 3vw, 1.5rem);
  --txt-lrg: clamp(1.75rem, 4vw, 2.5rem );
  --radius: 20px;
}
body {
  background-color: var(--bg-main);
  color: var(--clr-text);
  font-family: var(--ff);
  line-height: 1.5;
}
#app {
  display: grid;
  min-height: 100vh;
  grid-template-rows: max-content 1fr max-content;
  grid-template-areas: 
  'header'
  'main'
  'footer';
}
header {
  grid-area: header;
}
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer {
  grid-area: footer;
}
h1 {
  font-weight: 800;
  color: var(--clr-text-heading);
  font-size: 3rem;
}
